* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.page-wrapper {
  display: grid;
  grid-template-areas:
    'header'
    'nav'
    'library';
  background-color: aqua;
  grid-template-rows: repeat(2, auto) 1fr;
  min-height: 100vh;
}

.header {
  display: flex;
  font-size: 2rem;
  background-color: brown;
  grid-area: header;
}

.nav {
  display: flex;
  grid-area: nav;
  background: green;
}

.library {
  display: grid;
  background-color: rgb(213, 234, 107);
  grid-area: library;
  grid-template-rows: auto 1fr;
}

.form {
  background-color: red;
}

.book-collection {
  display: grid;
  gap: 20px;
}

.book {
  display: grid;
  grid-template-columns: auto 1fr;
  width: 100%;
  background-color: #fff;
}

.book > div {
  outline: 1px solid black;
}

.book-cover-wrapper {
  width: 200px;
}

.book-cover {
  object-fit: cover;
  object-position: center;
}
