*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(51, 32%, 95%);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

img {
  display: block;
  width: 100%;
  height: auto;
  font-style: italic;
}

button,
.book,
.dialog-content input#file-input,
::file-selector-button,
.profile img {
  cursor: pointer;
}

dialog {
  margin: auto;
  box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 5px 2px #0000007b;
  width: 20rem;
}

.dialog-content {
  padding: 2rem;
}

dialog[open] {
  animation: spawnDialog 500ms forwards;
}

dialog[termination] {
  display: block;
  animation: terminateDialog 300ms forwards;
}

@keyframes spawnDialog {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes terminateDialog {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.form {
  display: grid;
  gap: 2rem;
}

.form-heading-wrapper {
  display: flex;
  gap: 0.5rem;
  padding: 2rem 2rem 0px;
}

.form-header {
  font-weight: 600;
  font-size: 1.125rem;
}

.close-button {
  margin-left: auto;
  width: 24px;
  height: 24px;
  border-radius: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  transition: background-color 200ms ease-in-out;
}

.close-button:hover {
  background-color: rgba(255, 0, 0, 0.32);
}
.close-icon {
  width: inherit;
}

.bar:first-child {
  transform: rotate(45deg) translateY(3px) translateX(5px);
  background-color: green;
}
.bar:last-child {
  transform: rotate(-45deg) translateY(-6px);
}

.page-wrapper {
  display: grid;
  grid-template-areas:
    'header'
    'nav'
    'library';
  grid-template-rows: repeat(3, auto);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  grid-area: header;
  padding: 0.75rem 1rem;
  box-shadow: 0 1px 4px #4f4a3871;
}

.title {
  font-size: 1.25rem;
  font-weight: 600;
}

.searchbar {
  width: min(100%, 500px);
}

input {
  direction: ltr;
}

input,
dialog button {
  padding: 0.5rem;
  width: 100%;
  border-radius: 0.3rem;
  border: 1px solid grey;
}

dialog label span {
  padding-bottom: 0.5rem;
  font-weight: 500;
}

button.add-book {
  background-color: rgb(165, 203, 194);
  color: rgb(5, 50, 33);
}

.profile {
  flex-shrink: 0;
  width: 30px;
}

.nav {
  grid-area: nav;
  border-bottom: 1px solid hsl(51, 32%, 85%);
  padding: 0.75rem 1rem;
}

.nav-content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav span {
  font-weight: 500;
}

.nav .add-book-icon {
  width: 20px;
}

.open-dialog {
  display: flex;
  align-items: center;
  border: none;
  color: hsl(166, 27%, 20%);
  font-weight: 600;
  background-color: hsl(166, 27%, 70%);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  transition: background-color 200ms ease-in-out;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.open-dialog::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: hsl(166, 27%, 60%);
  left: 0;
  top: 0;
  border-radius: inherit;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 200ms ease-in-out;
}

.open-dialog:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.library {
  display: grid;
  grid-area: library;
  padding: 1.5rem 2rem 5rem;
}

.book-collection {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 275px), 1fr));
  gap: 1rem;
  grid-auto-rows: min-content;
}

.book {
  display: grid;
  grid-template-columns: minmax(90px, 25%) 1fr;
  width: 100%;
  gap: 1rem;
  padding: 0.75rem;
  border-radius: 1rem;
  box-shadow: 0 0 5px hsla(0, 0%, 65%, 0.525);
  background-color: hsl(0, 0%, 96%);
  position: relative;
}

.book-edit {
  display: none;
  --border: 1px solid #c6c3b2;
  position: absolute;
  right: 0;
  top: 0;
  border-top-right-radius: inherit;
  border-bottom-left-radius: inherit;
  padding: 0em 0.5em;
  border: none;
  font-size: 0.625rem;
  color: rgba(0, 0, 255, 0.8);
  width: 3rem;
  border-left: var(--border);
  border-bottom: var(--border);
}

.book-edit:hover span {
  text-decoration: underline;
}

.book-cover-wrapper {
  min-height: 140px;
  display: grid;
  place-content: center;
}

.book-cover {
  object-fit: cover;
  object-position: center;
  border-radius: 0.8rem;
}

.title > span {
  font-size: 1rem;
}

label > span {
  display: block;
}

:where(.author, .pages) > span {
  font-size: 0.625rem;
  font-weight: 300;
  color: rgb(24, 24, 24);
}

span[aria-required='true'] {
  font-size: 1.1rem;
  color: rgb(202, 0, 0);
}

.right-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.book-button-row {
  display: flex;
  gap: 0.5em;
}

.delete-button {
  max-width: 20px;
  height: auto;
  border: none;
  background: transparent;
}

.delete-button:hover img {
  filter: brightness(0) saturate(100%) invert(15%) sepia(73%) saturate(7132%)
    hue-rotate(358deg) brightness(117%) contrast(121%);
}

.btn.read-state {
  flex: 1;
  border: 1px solid grey;
  padding: 0.2rem 0;
  border-radius: 0.6rem;
  text-align: center;
  position: relative;
}

.btn,
.shelf-menu > button {
  font-size: 0.8125rem;
  color: black;
}

.shelf-menu {
  top: 100%;
  background: hsla(0, 0%, 87%, 1);
  height: auto;
  width: 100%;
  position: absolute;
  border-radius: inherit;
  outline: 1px solid rgb(135, 135, 135);
  z-index: 100;
}

.shelf-menu > button {
  appearance: none;
  border: none;
  text-align: left;
  padding: 0.25em 0.75em;
  text-align: center;
}

.shelf-menu > button:first-child {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.shelf-menu > button:last-child {
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

@media only screen and (min-width: 49.375rem) {
  input[type='search'] {
    padding: 0.5rem 1rem;
  }
}

@media only screen and (min-width: 62rem) {
  .book:hover .book-edit {
    display: block;
  }
}
