* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  padding: 1rem;
  background-color: #ebe8d8;
}

.page-wrapper {
  display: grid;
  grid-template-areas:
    'header'
    'nav'
    'library';
  grid-template-rows: repeat(2, auto) 1fr;
}

.header {
  display: flex;
  font-size: 2rem;
  background-color: brown;
  grid-area: header;
}

.nav {
  display: flex;
  grid-area: nav;
  background: green;
}

.library {
  display: grid;
  grid-area: library;
  grid-template-rows: auto 1fr;
}

.book-collection {
  display: grid;
  grid-auto-rows: min-content;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 250px), 1fr));
  gap: 1rem;
}

.book {
  display: grid;
  grid-template-columns: 25% 1fr;
  width: 100%;
  background-color: rgb(235, 235, 235);
  border-radius: 1rem;
  box-shadow: 0 0 5px rgb(175, 175, 175);
}

.book-cover-wrapper {
  width: 100%;
}

.book-cover {
  object-fit: cover;
  object-position: center;
  border-radius: 1.1rem;
}

.book-meta,
.book-cover {
  padding: 0.5rem;
}

.title > span {
  font-size: 1.5rem;
}
